@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: white;
}

.contenedor{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 100px;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
}